html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url("bg1.png");
    background-size: cover;
    background-position: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    margin: 0 auto;
    border: 2px solid #333;
    width: max-content;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #c5c5c5;
}

.snake {
    background-color: green;
    transition: background 0.1s;
}

.food {
    background-color: #3aff4a;
}

.game-card {
    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(4px);
    border: 4px solid #1e7c1f;
    border-radius: 6px;
    box-shadow: 0 0 12px #00ff22;

    width: fit-content;       
    padding: 20px 20px 25px; 
    margin: 0;          
    text-align: center;
}

.game-card h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    color: #3aff4a;
    text-shadow: 0 0 8px #00ff22;
}

.score {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 14px;
    color: #3aff4a;
    margin-bottom: 15px;
}

#score {
    display: inline-block;
    min-width: 20px;         
    padding: 2px 4px;      
    font-size: 20px;     
    text-align: center;

    background: #1e7c1f;
    border: 2px solid #3aff4a;
    box-shadow: 0 0 6px #00ff22;
    font-family: 'Press Start 2P', sans-serif;
}

.btn-start {
    background: #3aff4a;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    padding: 12px 30px;
    border: 4px solid #1e7c1f;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 0px 8px #00ff22;
    transition: 0.1s;
    font-family: 'Press Start 2P', sans-serif;
}

.btn-start:hover {
    background: #2be83a;
    box-shadow: 0px 0px 12px #00ff22;
    transform: scale(1.05);
}